.score-board{
    width: 700px;
    border: 1px solid #fff;
    border-radius: 15px;
    margin-top: 50px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    margin-left: 30px;
}
.score{
    width: 150px;
    height: 114px;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.score h1{
    color: #565468;
}
.score p{
    color: #2a45c2;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;
}